.ball {
    margin: 2px;
    height: 50px;
    width: 50px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 20px #000000;
}

.ball:hover {
       box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1px;
}

.row{
border-style: solid;
border-width: 2px;
border-color: black;
border-radius: 4px;
padding: 1.5%;
margin: 1.5%;
}

.answers{
    font-size: 1.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2px;
    padding: 2.5%;
}

.verificationButton{
    height: inherit;
    background-color: orange;
    display: inline-flex;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 2%;
    vertical-align: top;
    margin-left: 5%;
}

.resultBall {
    margin: 1px;
    height: 24px;
    width: 24px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    box-shadow: inset 0 0 20px #000000;
}

.results {
    display: inline;
    height: auto;
    margin-left: 5%;
}

.invisible{
 display: none;
}


.wrapper {
width: 800px;
margin: 30px auto;
color:$white;
text-align:center;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 2.6em;
  text-transform: uppercase;
}

#seconds, #tens{
  font-size:2em;
}

button{
@include corners (5px);
background:$base-color;
color:$white;
border: solid 1px $white;
text-decoration:none;
cursor:pointer;
font-size:1.2em;
padding:18px 10px;
width:180px;
margin: 10px;
 outline: none;
  &:hover{
	@include transition;
	background:$white;
	border: solid 1px $white;
	color:$base-color;
	}
}
